*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(54, 57, 63);
}
a,p, input{
    font-family: "Segoe UI", Georgia, Serif;
    line-height: 1.5;
    font-size: 20px;
}
h2{
    font-family: "Segoe UI", Georgia, Serif;
    line-height: 1.5;
    font-size: 28px;

}
header{
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(32, 34, 37);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 25px;

}
header a{
    color: white;
    padding-right: 15px;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
.status_t, .status_f{
    display: none;
}
main{
    display: flex;
    justify-content: center;
}
.infoblock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.infoblock p{
    font-size: 75px;
    color: white;
}
